
# Test
test
AddBot
NotesBot
CosmoBot

# Env
venv
venv_3.10

# pypy
dist
vka.egg-info

.DS_Store
.idea
vka/__pycache__/
vka/base/__pycache__/
vka/base/buiders/__pycache__
vka/chatbot/__pycache__
vka/chatbot/wrappers/__pycache__
